<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=860">
    {%- seo -%}
    {%- feed_meta -%}
  
    <!-- Style Sheet Loading -->
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <!-- Twitter Open Graph Tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@dragonamiKB" />
        <meta name="twitter:title" content="Dragonami" />
        <meta name="twitter:description" content="by Kristian Ramirez" />
        <meta name="twitter:image" content=""/>
    <!-- End Open Graph Tags -->
</head>
