<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- feed_meta -%}
  
    <!-- Style Sheet Loading -->
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <!-- Style Sheet Loading -->

    <!-- Twitter Open Graph Tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@dragonamidotcom" />
        <meta name="twitter:title" content="{{- page.title -}}" />
        <meta name="twitter:description" content="by Kristian Ramirez" />
        <meta name="twitter:image" content="{{- "/assets/images/thumbnail-img.png" | relative_url -}}" />
    <!-- End Open Graph Tags -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FT7XZ7QVYB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FT7XZ7QVYB');
        </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
</head>
