<nav class="navbar">
    <ul class="navlinks">
        <li>
            <a href={{- "about/" | relative_url -}}>About</a>
        </li>
        <li>
            <a href={{- "archive/" | relative_url -}}>Archive</a>
        </li>
        <li>
            <a href={{- "/feed.xml/" | relative_url}}>RSS</a>
        </li>
    </ul>
    <div class="socials">
        
        <a href="https://twitter.com/dragonamiKB"><img class="twitter" src={{- "assets/images/twitter.svg" | relative_url -}}></a>
        <a href="https://instagram.com/kristianramirez"><img class="instagram" src={{- "assets/images/instagram.svg" | relative_url -}}></a>
        
    </div>
</nav>
