<div class="sidebar">

    <div id="site-author">
    
        by Kristian Ramirez
        
    </div>

    <div id="navigation">
    
        <nav>
            <ul>
                <li>
                    <a href="/archive">Archive</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/feeds">Feeds</a>
                </li>
                <li>
                    <a href="https://twitter.com/dragonamiKB">Twitter</a>
                </li>
            </ul>
        </nav>
    
    </div>
    
</div> 
