.metabox {
	display:flex;
	flex-direction: column;
	margin-left: 50px;
	width: 150px;
}

.post-type {
	/* size and positioning */
	display: flex;
	flex-direction: row;

	img {
		/* size and positioning */
		height: 56px;
	}

	img:hover {
		/* other */
		background-color: $color-grey;
	}
}

.dateline {
	/* alignment */
	display: flex;
	flex-direction: row;
	margin: .1em 0 0 0;
	
	/* typography */
	font-size: .8em;
}