.sidebar {
    /* positioning */
	margin-right: 50px;
	/* size */
	width: 160px;
	/* typography */
	text-align: right;
}
#site-author {
	/* typography */
	text-align: right;
	font-size: 1.5em;
	
	/* positioning */
	margin-bottom: 16px;
}

#navigation {
	/* size */
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	
	/* Typography */
	text-transform: uppercase;
	a {
		/* typography */
		font-size: 1.5em;
		font-weight: bold;
		color: $color-secondary;
	}
	
	a:hover {
		/* typography */
		text-decoration: none;
	
		/* misc. */
		background-color: $color-grey;
	}
}

#nav-list {
	text-align: right;
}
