#sitebox {
    width:          90%;
    margin-left:    auto;
    margin-right:   auto;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 107px;
    
    a {
        display: block;
    }
}

.previous {
    margin-right: 5px;
}
.next {
    margin-left: 5px;
}

@media only screen and (min-width: $mobile-screen-size) {
    #sitebox {
        width: 55%;
    }
}
