#sitebox {
    min-width:      $min-widths;
    max-width:      750px;
    width:          90%;
    margin-left:    auto;
    margin-right:   auto;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 107px;

    a {
        display: block;
    }
}

.previous {
    margin-right: auto;
    margin-left: auto;
}
.next {
    margin-left: auto;
    margin-right: auto;
}

