#header-img {
    display: block;
    width: 95%;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
}

@media only screen and (min-width: $mobile-screen-size) {
    #header-img {
        width: 100%;
    }
}