.navbar {
    
    background-color: $red;
    margin-bottom: 25px;
    padding-bottom: 1px;
    height: 1.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    
    a {
        color: $white;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul {
        display: block;
        height: 92%;
        
        li {
            display: inline-block;
            height: 100%;
            padding: 3px .5em 0 .5em;
            margin: 0 .5em 0 .5em;
        }
        
        li:hover {
            background-color: $blue;
        }
    }
}

@media only screen and (min-width: $mobile-screen-size) {

}