.page-title {
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 2em;
    margin-bottom: 15px;
}

#about-img {
    width:          200px;
    float:          left;
    margin:         5px 30px 15px 0;
}

.archive-dateline {
    margin-top: 5px;
    margin-bottom: 5px;
    
}
