// color palette
$blue:      		  #002663; // blue
$red:			      #b22234; // red
$white:               #FFFFFF; // white
$grey:                #C1CFDA; // grey

// fonts
$heading-font:          "Roboto", sans-serif;
$body-font:             "Roboto", sans-serif;

// sizes
$mobile-screen-size:    600px;
$min-widths:            320px;